.navbar-nav .nav-item .nav-link:hover {
    color: #FFFBEF; /* Change to any color you want on hover */
    text-decoration: underline; /* Optional underline effect */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

/* Dropdown menu hover effect */
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #57403B; /* Highlight color for dropdown items */
    color: #FFFBEF; /* Change text color when hovering on dropdown items */
}

/* Optional: Change the hover background color of the navbar */
.navbar-nav .nav-item:hover {
    background-color: (#57403B); /* Light background change */
}


.bg{
    background: linear-gradient(to right, #FFFBEF, #57403B);

}

/* flip card */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* For the 3D effect */
    margin: 100px auto; /* Centers the card */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Necessary for 3D transform */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side when rotated */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #57403B;
}



.flip-card-front img {
    max-width: 350px;
    max-height: 100%;
    object-fit: cover; /* Maintain image aspect ratio */
}

.flip-card-back {
    background-color:#FFFBEF;
    color: #57403B;
    transform: rotateY(180deg);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.flip-card-back button{
    background-color: #57403B;
    color: #FFFBEF;
    padding: 10px 15px;
    border: 1px ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.flip-card-back button:hover{
    background-color:#FFFBEF;
    color: #57403B;
    padding: 10px 15px;
    border: 1px solid #57403B;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}






